@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #ffffff;
    align-items: center;
    align-content: center;
}







.my-photo{
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 10px 10px 10px 10px lightgray;
}



.about-me{
    width: auto;
    height: auto;
}


div .image{
   display: flex;
   justify-content: center;
   position: relative;
}





h1,h2,h4{
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}


#aboutMe{
    margin: 30px;
    font-size: 20px;
    text-align: center;
}


.progress{
    margin: 30px;
    font-size: 30px;
}



.icon{
    font-size: 2rem;
}





.learning{
    padding: 100px;
    background-color: lightblue;
}

.one{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: brown;
    margin: 20px;
}

.one a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}





.nav{
    background-color: #e1f4f3;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
}



.nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
    float: right;
}

.nav a:hover{
    text-decoration: none;
}

/*Copyright*/

.copyright{
    background-color: black;
    padding: 10px;
}
.copyright p{
    color: white;
    text-align: center;
}


/*END*/



header div .me{
    text-align: left;
}





@media (max-width: 500px){
    .my-photo{
        width: 80% !important;
    }
    .project-section{
        display: flex;
    }
}


/* Projektek */
.kard {
    width: 300px;
    height: 700px;
    padding: 10px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 56px;
    color: #000000;
    text-align: center;
}

.tech-stack {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    padding-top: 15px;
}

.deskription {
    margin: 20px;
}

.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #05011b;
    border-right: 100px solid transparent;
}

.rigth-top-corner {
    left: auto;
    right: 0;
    transform: rotate(90deg);
}

.left-bottom-corner {
    top: auto;
    bottom: 0;
    transform: rotate(-90deg);
}

.github-icon {
    position: absolute;
    right: 8px;
    top: 8px;
}

.link-icon {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.kard {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 500px;
    width: 300px;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.25);
    transition: all 1s ease-in-out;
    background-color: white;
    color: black;
}

.deskr {
    padding: 30px;
}


.kard:hover {
    box-shadow: 0px 0px 15px 12px ;
}

.projects{
    padding: 100px;
    background-color: #025464;
}


.project-section{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.more-projects{
    display: flex;
}

/*END*/


/* Skills */

.technologies{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/**/


/* Elérhetőségek*/

.connect{
    padding: 70px;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 30px;
}


/**/

/* Links */
.me a, .learning .udemy a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: italic;
}
