@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --bs-gray: #6c757d;
  --main-bg: #161a30;
  --white-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

body > main > nav {
  background-color: var(--main-bg);
}

nav .nav-en .navbar .navbar-expand {
  background-color: var(--main-bg);
}

.nav,
.navbar {
  background-color: var(--main-bg);
  box-shadow: 15px 1px 2px 1px;
}

#navbarTogglerDemo01 > ul > li:nth-child(1) > a,
#navbarTogglerDemo01 > ul > li:nth-child(2) > a,
#navbarTogglerDemo01 > ul > li:nth-child(3) > a,
#navbarTogglerDemo01 > ul > li:nth-child(4) > a {
  color: var(--white-color);
}

/* About me */

.wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredBox {
  width: 100%;
  text-align: center;
}

/* The Typewriter */

#typewriter  {
}

.cursor {
  border-left: 4px solid  var(--white-color);
}

.my-photo {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.about-me-info {
  display: flex !important;
  gap: 50px;
  padding: 100px;
  max-width: max-content;
}

.about-info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#aboutMe > div > div.about-me-text {
  width: 75%;
}

h1,
h2 {
  color: black;
  font-size: 20px;
  font-weight: 100;
  font-family: sans-serif;
}

.about-me h1,
h2 {
  text-align: center;
}

#aboutMe {
  font-size: 20px;
  background-color: var(--main-bg);
  color:  var(--white-color);
}

.btn-primary {
  background-color: black !important;
  border: none !important;
}

/* About me end */

/* Tapasztalat */

.learning {
  padding: 100px;
  background-color: #b6bbc4;
}

.learning .container .col {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* Projektek */

/*---------------------------------------------------------------------------------------*/

#myprojects > h1 {
  color:  var(--white-color);
  text-align: center;
}

.card {
  color:  var(--white-color);
  border: 2px solid  var(--white-color);
  border-radius: 5px;
}

.card-title,
.card-text {
  color:  var(--white-color) !important;
}

.card-body {
  box-shadow: 0px 3px 8px 2px #31304d;
  background-color: #31304d;
}

.projects {
  padding: 100px;
  background-color: #31304d;
}

.project-section,
.project-section-2 {
  margin-bottom: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.more-projects {
  display: flex;
  justify-content: center;
}

.card-img-top {
  border-bottom: 2px solid  var(--white-color);
}

/*---------------------------------------------------------------------------------------*/
/*END*/



/*---------------------------------------------------------------------------------------*/
/* Skills */


@keyframes slides {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-100%);
  }
}

.technologies {
  overflow: hidden;
  padding: 40px 0px;
  white-space: nowrap;
  position: relative;
  gap: 20px;
}

.technologies:before,
.technologies:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.technologies:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
  );
}

.technologies:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
  );
}

.technologies-items {
  display: inline-block;
  animation: 25s slides infinite linear;
  gap: 50px;
}

.technologies:hover .technologies-items {
  animation-play-state: paused;
}

.technologies-items img {
  height: 85px;
}

/*---------------------------------------------------------------------------------------*/

/**/

/* Elérhetőségek*/

.connect > h1 .connect {
  background-color: #f0ece5;
  padding: 70px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/**/

/* Links */
.me a,
.learning .udemy a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-style: italic;
}

/*Copyright*/

.copyright {
  background-color: black;
  gap: 25px;
  padding: 20px;
}
.copyright p {
  color:  var(--white-color);
}

.copyright a {
  text-decoration: none;
  color:  var(--white-color);
  font-weight: 700;
  font-style: italic;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.copyright-info p {
  color:  var(--white-color);
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

/* Scroll to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:  var(--white-color);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

/* EMD */

/*Mobil */

@media screen and (max-width: 500px) {
  .flip-card {
    width: 100%;
  }

  #aboutMe > div.about-me-info > div.about-me-text {
    width: 100%;
  }

  .flip-card-inner {
    width: 100%;
  }

  .about-me-info {
    flex-direction: column;
  }
  .about-me-info > img {
    width: fit-content;
  }
  .flip-card-front,
  .flip-card-back {
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
  #myBtn:hover {
    background-color: #555;
  }
}

@media (max-width: 800px) {
  .project-section,
  .project-section-2 {
    display: grid;
  }
  .about-me-info {
    flex-direction: column;
  }
}

@media (max-width: 1250px) {
  .about-me-info {
    display: block;
  }
}

/* For the english version only!!! */
