@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

body{
    background-color: #ffffff;
    align-items: center;
    align-content: center;
}


.projects{
    padding: 100px;
    background-color: #025464;
}



.my-photo{
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 10px 10px 10px 10px lightgray;
}



.about-me{
    width: auto;
    height: auto;
}


div .image{
   display: flex;
   justify-content: center;
   position: relative;
}






h1,h2,h4{
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}


#aboutMe{
    margin: 30px;
    font-size: 20px;
    text-align: center;
}


.progress{
    margin: 30px;
    font-size: 30px;
}



.icon{
    font-size: 2rem;
}


.projects h1{
    margin-bottom: 40px;
    color: white;
    font-weight: 500;
}


.project-one{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: aliceblue;
    box-shadow:  10px 10px 10px 15px black;
    margin: 20px;
}

.project-one a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.project-two{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: aliceblue;
    box-shadow:  10px 10px 10px 15px black;
    margin: 20px;
}

.project-two a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.project-three{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: aliceblue;
    box-shadow:  10px 10px 10px 15px black;
    margin: 20px;
}

.project-three a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.project-four{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: aliceblue;
    box-shadow:  10px 10px 10px 15px black;
    margin: 20px;
}

.project-four a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.learning{
    padding: 100px;
    background-color: lightblue;
}

.one{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: brown;
    margin: 20px;
}

.one a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.connect{
    padding: 30px;
}

.two{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: brown;
    margin: 20px;
}

.three{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: brown;
}


.nav{
    background-color: #e1f4f3;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
}



.nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
    float: right;
}

.nav a:hover{
    text-decoration: none;
}

.copyright{
    background-color: black;
    padding: 10px;
}
.copyright p{
    color: white;
    text-align: center;
}



header div .me{
    text-align: left;
}





